<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hong.frame" >
    <application>
        <activity android:name=".fragment.EventBus.EventBusMain"/>
        <activity android:name=".fragment.EventBus.EventBusSendActivity"/>
        <activity android:name=".fragment.recyclerview.RecyclerViewMian"
            android:theme="@style/listDividerTheme"/>
    </application>
</manifest>
