<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hong.frame">

    <application>
        <activity android:name=".fragment.EventBus.EventBusMain" />
        <activity android:name=".fragment.EventBus.EventBusSendActivity" />
        <activity
            android:name=".fragment.recyclerview.RecyclerViewMian"
            android:theme="@style/listDividerTheme" />
        <activity android:name=".fragment.glide.GlideRecyclerviewActivity" />
        <activity android:name=".fragment.glide.GlideBaseActivity" />
        <activity android:name=".fragment.glide.GlideMain" />
        <activity android:name=".fragment.glide.GlideTranformationsActivity"></activity>
        <activity android:name=".fragment.pulltorefresh.LauncherActivity"></activity>
        <activity android:name=".fragment.pulltorefresh.PullToRefreshExpandableListActivity"></activity>
        <activity android:name=".fragment.pulltorefresh.PullToRefreshGridActivity"></activity>
        <activity android:name=".fragment.pulltorefresh.PullToRefreshHorizontalScrollViewActivity"></activity>
        <activity android:name=".fragment.pulltorefresh.PullToRefreshListActivity"></activity>
        <activity android:name=".fragment.pulltorefresh.PullToRefreshListFragmentActivity"></activity>
        <activity android:name=".fragment.pulltorefresh.PullToRefreshListInViewPagerActivity"></activity>
        <activity android:name=".fragment.pulltorefresh.PullToRefreshScrollViewActivity"></activity>
        <activity android:name=".fragment.pulltorefresh.PullToRefreshViewPagerActivity"></activity>
        <activity android:name=".fragment.pulltorefresh.PullToRefreshWebView2Activity"></activity>
        <activity android:name=".fragment.pulltorefresh.PullToRefreshWebViewActivity"></activity>
    </application>

</manifest>